body {
    background-color: #384047;
}

.wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    background-color: #2F558E;
    width : 300px;
    display: grid;
}

.login_tab {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup_tab {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    background-color: #17202a;
    color: white;
}

.signup_form {
    padding: 10px;
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    background-color: #17202a;
}
.signed {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 5px;
    color: white;
    background-color: #17202a;
}
.loggedin {
    grid-column: 1 / 3;
    padding-left: 5px;;
    color: white;
    background-color: #17202a;
    margin: 0px;
}

#login {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}
#login_info {
    font-weight: bold;
    font-size: 12px;
}
#email, #password, #first_name, #last_name, #new_email, #new_password, #new_c_password {
    width: 265px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 20px;
    background-color: black;
    border: white 1px solid;
    color: white;
}
#login_button {
    font-size: 15px;
    background-color: #2F558E;
    color: white;
    width: 275px;
    height: 30px;
    margin-top: 10px;
}


form > p {
    color: white;
    font-size: 12px;
    margin: 0px;
}

#gender {
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
}


#signup_button {
    font-size: 15px;
    background-color: #2F558E;
    color: white;
    width: 275px;
    height: 30px;
    margin-top: 10px;
}

.alert {
    width: 200px;
    height: 13px;
    font-size: 10px;
    padding: 5px;
    background-color: #2F558E;
    color: white;
    border-radius: 5px;
    word-break: normal;
}

#log_email {
    position: absolute;
    top: 31%;
    left: 64%;
    width: 135px;
}
#log_pass {
    position: absolute;
    top: 42%;
    left: 64%;
    width: 130px;
}
#sign_first {
    position: absolute;
    top: 30.8%;
    left: 64%;
    width: 133px;
}
#sign_first1 {
    position: absolute;
    top: 30.8%;
    left: 64%;
    width: 166px;
}
#sign_last {
    position: absolute;
    top: 42%;
    left: 64%;
    width: 130px;
}
#sign_last1 {
    position: absolute;
    top: 42%;
    left: 64%;
    width: 165px;
}
#sign_gender {
    position: absolute;
    top: 49.5%;
    left: 64%;
    width: 121px;
}
#sign_email {
    position: absolute;
    top: 58%;
    left: 64%;
    width: 112px;
}
#sign_email1 {
    position: absolute;
    top: 58%;
    left: 64%;
    width: 132px;
}
#sign_pass {
    position: absolute;
    top: 69%;
    left: 64%;
    width: 130px;
}
#sign_pass1 {
    position: absolute;
    top: 69%;
    left: 64%;
    width: 250px;
    height: 37px;
    text-align: center;
}
#sign_c_pass {
    position: absolute;
    top: 80.5%;
    left: 64%;
    width: 141px;
}
#sign_c_pass1 {
    position: absolute;
    top: 80.5%;
    left: 64%;
    width: 121px;
}
.check img {
    width: 15px;
}

#check_1 {
    position: absolute;
    top: 31%;
    left: 60.7%;
}
#check_2 {
    position: absolute;
    top: 42.3%;
    left: 60.7%;
}
#check_3 {
    position: absolute;
    top: 49%;
    left: 60.7%;
}
#check_4 {
    position: absolute;
    top: 58.3%;
    left: 60.7%;
}
#check_5 {
    position: absolute;
    top: 69.5%;
    left: 60.7%;
}
#check_6 {
    position: absolute;
    top: 80.5%;
    left: 60.7%;
}